Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Sci-Kit Learn

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Sci-Kit Learn

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools
|Data Science Tools|
|------------------|
|Apache Spark|
|IBM SPSS|
|Jupyter Notebook|

|Data Science Tools|
|------------------|
|Apache Spark|
|IBM SPSS|
|Jupyter Notebook|

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [3]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours

#This will convert 200 minutes to hours by diving by 60
200/60

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
Exercise 10 - Insert a markdown cell to list Objectives

**Objectives**
- explore, sort and analyze megadata from various sources
- take advantage of them
- reach conclusions to optimize business processes or for decision support

**Objectives**
- explore, sort and analyze megadata from various sources
- take advantage of them
- reach conclusions to optimize business processes or for decision support

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Hai Tran